<div id="qodef-page-outer">
  <div
    class="qodef-page-title qodef-m qodef-title--standard-with-breadcrumbs qodef-alignment--left qodef-vertical-alignment--header-bottom"
  >
    <div class="qodef-m-inner">
      <div class="qodef-m-content qodef-content-grid">
        <h4 class="qodef-m-title entry-title">
          My Account
        </h4>
        <div itemprop="breadcrumb" class="qodef-breadcrumbs">
          <a
            itemprop="url"
            class="qodef-breadcrumbs-link"
            href="https://playroom.qodeinteractive.com/"
          >
            <span itemprop="title">Home</span>
          </a>
          <span class="qodef-breadcrumbs-separator"></span>
          <span itemprop="title" class="qodef-breadcrumbs-current">
            My Account
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="qodef-page-inner" class="qodef-content-grid">
    <main
      id="qodef-page-content"
      class="qodef-grid qodef-layout--template qodef-gutter--large"
    >
      <div class="qodef-grid-inner clear">
        <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
          <div
            data-elementor-type="wp-page"
            data-elementor-id="913"
            class="elementor elementor-913"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-4c64dd4c elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no"
                  data-id="4c64dd4c"
                  data-element_type="section"
                >
                  <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e1fc2e3"
                        data-id="e1fc2e3"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-6768d80d elementor-widget elementor-widget-text-editor"
                              data-id="6768d80d"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                            >
                              <div class="elementor-widget-container">
                                <div
                                  class="elementor-text-editor elementor-clearfix"
                                >
                                  <div class="woocommerce">
                                    <div
                                      class="woocommerce-notices-wrapper"
                                    ></div>
                                    <h2>Login</h2>
                                    <form
                                      class="woocommerce-form woocommerce-form-login login"
                                      (submit)="onLoginSubmit()"
                                    >
                                      <p
                                        class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                      >
                                        <label for="username">
                                          {{ 'LOGIN.Email' | translate }}&nbsp;
                                          <span class="required">*</span>
                                        </label>
                                        <input
                                          type="text"
                                          class="woocommerce-Input woocommerce-Input--text input-text"
                                          name="email"
                                          placeholder="{{
                                            'LOGIN.EnterEmail' | translate
                                          }}"
                                          [(ngModel)]="emailOrUsername"
                                          autocomplete="username"
                                          value=""
                                        />
                                      </p>
                                      <p
                                        class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                      >
                                        <label for="password">
                                          {{
                                            'LOGIN.Password' | translate
                                          }}
                                          &nbsp;
                                          <span class="required">*</span>
                                        </label>
                                        <input
                                          class="woocommerce-Input woocommerce-Input--text input-text"
                                          type="password"
                                          name="password"
                                          placeholder="{{
                                            'LOGIN.EnterPassword' | translate
                                          }}"
                                          [(ngModel)]="password"
                                          autocomplete="current-password"
                                        />
                                      </p>
                                      <p class="form-row">
                                        <label
                                          class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme"
                                        >
                                          <input
                                            class="woocommerce-form__input woocommerce-form__input-checkbox"
                                            name="rememberme"
                                            type="checkbox"
                                            id="rememberme"
                                            value="forever"
                                          />
                                          <span>Remember me</span>
                                        </label>
                                        <input
                                          type="hidden"
                                          id="woocommerce-login-nonce"
                                          name="woocommerce-login-nonce"
                                          value="e232e2f04c"
                                        />
                                        <input
                                          type="hidden"
                                          name="_wp_http_referer"
                                          value="/my-account/"
                                        />
                                        <button
                                          type="submit"
                                          class="woocommerce-button button woocommerce-form-login__submit"
                                          name="login"
                                          value="Log in"
                                        >
                                          Log in
                                        </button>
                                      </p>
                                      <p
                                        class="woocommerce-LostPassword lost_password"
                                      >
                                        <a
                                          href="https://playroom.qodeinteractive.com/my-account/lost-password/"
                                        >
                                          {{
                                            'LOGIN.ResetPassword' | translate
                                          }}
                                        </a>
                                      </p>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
