<div id="qodef-top-area">
  <div id="qodef-top-area-inner" class="">
    <div class="qodef-widget-holder qodef-top-area-left">
      <div class="qodef-widget-holder qodef--one">
        <div id="text-2" class="widget widget_text qodef-top-bar-widget">
          <div class="textwidget">
            <p style="font-size: 13px;">
              A place where kids have fun &amp; learn
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="qodef-widget-holder qodef-top-area-right">
      <div class="languages-list">
        <span>{{ 'NAVBAR.Language' | translate }}</span>
        <img
          class="flag-img"
          src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Tunisia.svg"
          (click)="translate.use('ar')"
        />
        <img
          class="flag-img"
          src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1920px-Flag_of_the_United_Kingdom.svg.png"
          (click)="translate.use('en')"
        />
        <img
          class="flag-img"
          src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1920px-Flag_of_France.svg.png"
          (click)="translate.use('fr')"
        />
      </div>
      <div
        *ngIf="authService.loggedIn()"
        class="qodef-widget-holder qodef--one"
        style="margin-right: 30px;"
      >
        <div
          id="playroom_core_icon_list_item-2"
          class="widget widget_playroom_core_icon_list_item qodef-top-bar-widget"
        >
          <div
            class="qodef-icon-list-item qodef-icon--icon-pack qodef-icon--custom-blob"
          >
            <p class="qodef-e-title">
              <a itemprop="url" [routerLink]="['/login']">
                <span class="qodef-e-title-inner">
                  <span class="qodef-e-title-text">{{ user?.full_name }}</span>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div
        *ngIf="authService.loggedIn()"
        class="qodef-widget-holder qodef--one"
      >
        <div
          id="playroom_core_icon_list_item-2"
          class="widget widget_playroom_core_icon_list_item qodef-top-bar-widget"
        >
          <div
            class="qodef-icon-list-item qodef-icon--icon-pack qodef-icon--custom-blob"
          >
            <p class="qodef-e-title">
              <a itemprop="url" href="javascript:void(0)" (click)="logout()">
                <span class="qodef-e-title-inner">
                  <span class="qodef-m-icon-bg" style="color: #f37647;">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="102px"
                      height="102px"
                      viewBox="0 0 102 102"
                    >
                      <path
                        fill="currentColor"
                        d="M72.434,95.811c0,0,41.985-13.987,20.969-67.473c-21.017-53.486-52.713-10.31-64.487-15.001 C7.479,4.795-1.051,55.257,4.631,67.678C11.792,83.332,15.192,111.994,72.434,95.811z"
                      />
                    </svg>
                  </span>
                  <span
                    class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                  >
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span class="qodef-e-title-text">log out</span>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div
        *ngIf="!authService.loggedIn()"
        class="qodef-widget-holder qodef--one"
      >
        <div
          id="playroom_core_icon_list_item-2"
          class="widget widget_playroom_core_icon_list_item qodef-top-bar-widget"
        >
          <div
            class="qodef-icon-list-item qodef-icon--icon-pack qodef-icon--custom-blob"
          >
            <p class="qodef-e-title">
              <a itemprop="url" [routerLink]="['/login']">
                <span class="qodef-e-title-inner">
                  <span class="qodef-m-icon-bg" style="color: #f37647;">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="102px"
                      height="102px"
                      viewBox="0 0 102 102"
                    >
                      <path
                        fill="currentColor"
                        d="M72.434,95.811c0,0,41.985-13.987,20.969-67.473c-21.017-53.486-52.713-10.31-64.487-15.001 C7.479,4.795-1.051,55.257,4.631,67.678C11.792,83.332,15.192,111.994,72.434,95.811z"
                      />
                    </svg>
                  </span>
                  <span
                    class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                  >
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span class="qodef-e-title-text">
                    {{ 'NAVBAR.Login' | translate }}
                  </span>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div
          id="playroom_core_icon_list_item-3"
          class="widget widget_playroom_core_icon_list_item qodef-top-bar-widget"
        >
          <div
            class="qodef-icon-list-item qodef-icon--icon-pack qodef-icon--custom-blob"
          >
            <p class="qodef-e-title">
              <a itemprop="url" [routerLink]="['/register']">
                <span class="qodef-e-title-inner">
                  <span class="qodef-m-icon-bg" style="color: #8dc8ae;">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="102px"
                      height="102px"
                      viewBox="0 0 102 102"
                    >
                      <path
                        fill="currentColor"
                        d="M72.434,95.811c0,0,41.985-13.987,20.969-67.473c-21.017-53.486-52.713-10.31-64.487-15.001 C7.479,4.795-1.051,55.257,4.631,67.678C11.792,83.332,15.192,111.994,72.434,95.811z"
                      />
                    </svg>
                  </span>
                  <span
                    class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                  >
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span class="qodef-e-title-text">
                    {{ 'NAVBAR.Register' | translate }}
                  </span>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header id="qodef-page-header">
  <div id="qodef-page-header-inner" class="">
    <a
      itemprop="url"
      class="qodef-header-logo-link qodef-height--set"
      [routerLink]="['/home']"
      style="height: 87px;"
      rel="home"
    >
      <img
        width="380"
        height="173"
        src="assets/img/logo.png"
        class="qodef-header-logo-image qodef--main"
        alt="logo main"
        loading="lazy"
      />
      
      <img
        width="380"
        height="173"
        src="assets/img/logo.png"
        class="qodef-header-logo-image qodef--dark"
        alt="logo dark"
        loading="lazy"
      />
      <img
        width="380"
        height="173"
        src="assets/img/logo.png"
        class="qodef-header-logo-image qodef--light"
        alt="logo light"
        loading="lazy"
      />
    </a>
    <nav
      class="qodef-header-navigation"
      role="navigation"
      aria-label="Top Menu"
    >
      <ul id="menu-main-menu-1" class="menu">
        <li
          [routerLinkActive]="['current-menu-ancestor']"
          class="menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-766"
        >
          <a [routerLink]="['/home']">
            <span class="qodef-menu-item-text">
              {{ 'NAVBAR.Home' | translate }}
            </span>
          </a>
        </li>
        <li
          [routerLinkActive]="['current-menu-ancestor']"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251 qodef-menu-item--narrow"
        >
          <a href="javascript:void(0);">
            <span class="qodef-menu-item-text">
              {{ 'NAVBAR.Events' | translate }}
            </span>
          </a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  [routerLinkActive]="['current-menu-ancestor']"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                >
                  <a [routerLink]="['/list-event']">
                    <span class="qodef-menu-item-text">
                      {{ 'NAVBAR.Events' | translate }} List
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <ng-container *ngIf="!isChild && authService.loggedIn()">
          <li
            [routerLinkActive]="['current-menu-ancestor']"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-249 qodef-menu-item--narrow"
          >
            <a href="javascript:void(0);">
              <span class="qodef-menu-item-text">{{ 'NAVBAR.ParentSpace' | translate }}</span> 
            </a>
            <div class="qodef-drop-down-second">
              <div class="qodef-drop-down-second-inner">
                <ul class="sub-menu">
                  <li
                    [routerLinkActive]="['current-menu-ancestor']"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                  >
                    <a [routerLink]="['/listchild', user?._id]">
                      <span class="qodef-menu-item-text">
                        {{ 'ADDCHILD.list_child' | translate }}
                      </span>
                    </a>
                  </li>
                  <li
                    [routerLinkActive]="['current-menu-ancestor']"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                  >
                    <a [routerLink]="['/addchild']">
                      <span class="qodef-menu-item-text">
                        {{ 'NAVBAR.Add' | translate }}
                        {{ 'ADDCHILD.Child' | translate }}
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="!isParent && authService.loggedIn()">
          <li
            [routerLinkActive]="['current-menu-ancestor']"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251 qodef-menu-item--narrow"
          >
            <a href="javascript:void(0);"><span class="qodef-menu-item-text">Livre</span></a>
            <div class="qodef-drop-down-second">
              <div class="qodef-drop-down-second-inner">
                <ul class="sub-menu">
                  <li
                    [routerLinkActive]="['current-menu-ancestor']"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                  >
                    <a [routerLink]="['/listlivre']">
                      <span class="qodef-menu-item-text">Livre list</span>
                    </a>
                  </li>
                  <li
                    [routerLinkActive]="['current-menu-ancestor']"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                  >
                    <a [routerLink]="['/addlivre']">
                      <span class="qodef-menu-item-text">Add livre</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ng-container>
        <li
          [routerLinkActive]="['current-menu-ancestor']"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170"
        >
          <a
            [routerLinkActive]="['current-menu-ancestor']"
            [routerLink]="['/aboutus']"
          >
            <span class="qodef-menu-item-text">
              {{ 'NAVBAR.About' | translate }}
            </span>
          </a>
        </li>
        <li
          [routerLinkActive]="['current-menu-ancestor']"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170"
        >
          <a
            [routerLinkActive]="['current-menu-ancestor']"
            [routerLink]="['/contactus']"
          >
            <span class="qodef-menu-item-text">
              {{ 'NAVBAR.ContactUs' | translate }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="qodef-widget-holder qodef--one">
      <div
        id="playroom_core_search_opener-2"
        class="widget widget_playroom_core_search_opener qodef-header-widget-area-one"
        data-area="header-widget-one"
      >
        <a
          href="javascript:void(0)"
          class="qodef-opener-icon qodef-m qodef-source--svg-path qodef-search-opener"
          style="font-size: 17px; margin: -4px 3px 0px 12px;"
        >
          <span class="qodef-m-icon qodef--open">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="17.833px"
              height="18.334px"
              viewBox="0 0 17.833 18.334"
              enable-background="new 0 0 17.833 18.334"
              xml:space="preserve"
            >
              <path
                fill="none"
                stroke="#444444"
                stroke-linecap="round"
                stroke-miterlimit="10"
                d="M-12.292-21.229"
              />
              <path
                fill="none"
                stroke="#444444"
                stroke-linecap="round"
                stroke-miterlimit="10"
                d="M-2.875-21.229"
              />
              <g>
                <circle
                  fill="none"
                  stroke="#444444"
                  stroke-miterlimit="10"
                  cx="10.875"
                  cy="7.334"
                  r="6.249"
                />
                <line
                  fill="none"
                  stroke="#444444"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  x1="1.416"
                  y1="16.917"
                  x2="6.251"
                  y2="12.083"
                />
              </g>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <form class="qodef-search-cover-form" (submit)="search()">
    <div class="qodef-m-inner">
      <input
        type="text"
        placeholder="Search here..."
        [(ngModel)]="searchText"
        [ngModelOptions]="{ standalone: true }"
        class="qodef-m-form-field"
        autocomplete="off"
        required
      />
      <a
        href="javascript:void(0)"
        class="qodef-opener-icon qodef-m qodef-source--svg-path qodef-m-close"
      >
        <span class="qodef-m-icon qodef--open">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="14.75px"
            height="15.719px"
            viewBox="0 0 14.75 15.719"
            enable-background="new 0 0 14.75 15.719"
            xml:space="preserve"
          >
            <line
              fill="none"
              stroke="#444444"
              stroke-width="4"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              x1="12.672"
              y1="13.379"
              x2="1.969"
              y2="2.676"
            />
            <line
              fill="none"
              stroke="#444444"
              stroke-width="4"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              x1="1.969"
              y1="13.379"
              x2="12.672"
              y2="2.676"
            />
          </svg>
        </span>
      </a>
    </div>
  </form>
</header>
<header id="qodef-page-mobile-header">
  <div id="qodef-page-mobile-header-inner" class="">
    <a
      itemprop="url"
      class="qodef-mobile-header-logo-link"
      href="https://playroom.qodeinteractive.com/"
      style="height: 87px;"
      rel="home"
    >
      <img
        width="380"
        height="173"
        src="https://playroom.qodeinteractive.com/wp-content/uploads/2020/08/header-logo.png"
        class="qodef-header-logo-image qodef--main"
        alt="logo main"
        itemprop="image"
        srcset="
          https://playroom.qodeinteractive.com/wp-content/uploads/2020/08/header-logo.png         380w,
          https://playroom.qodeinteractive.com/wp-content/uploads/2020/08/header-logo-300x137.png 300w
        "
        sizes="(max-width: 380px) 100vw, 380px"
      />
    </a>
    <a
      href="javascript:void(0)"
      class="qodef-opener-icon qodef-m qodef-source--predefined qodef-mobile-header-opener"
    >
      <span class="qodef-m-icon qodef--open">
        <span class="qodef-m-dots">
          <span class="qodef-m-dot qodef--1"></span>
          <span class="qodef-m-dot qodef--2"></span>
          <span class="qodef-m-dot qodef--3"></span>
        </span>
      </span>
      <span class="qodef-m-icon qodef--close">
        <span class="qodef-m-dots">
          <span class="qodef-m-dot qodef--1"></span>
          <span class="qodef-m-dot qodef--2"></span>
          <span class="qodef-m-dot qodef--3"></span>
        </span>
      </span>
    </a>
    <nav
      class="qodef-mobile-header-navigation"
      role="navigation"
      aria-label="Mobile Menu"
    >
      <ul id="menu-main-menu-4" class="qodef-content-grid">
        <li
          routerLinkActive="current-menu-ancestor"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170"
        >
          <a [routerLink]="['/home']">
            <span class="qodef-menu-item-text">
              {{ 'NAVBAR.Home' | translate }}
            </span>
          </a>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-249 qodef-menu-item--narrow"
        >
          <a href="#"><span class="qodef-menu-item-text">Events</span></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3944"
                >
                  <a href="https://playroom.qodeinteractive.com/about-us/">
                    <span class="qodef-menu-item-text">
                      {{ 'NAVBAR.About' | translate }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251 qodef-menu-item--narrow"
        >
          <a href="#"><span class="qodef-menu-item-text">Events</span></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8307"
                >
                  <a href="https://playroom.qodeinteractive.com/event-list/">
                    <span class="qodef-menu-item-text">Event List</span>
                  </a>
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5996"
                >
                  <a href="#">
                    <span class="qodef-menu-item-text">Event Calendar</span>
                  </a>
                  <ul class="sub-menu">
                    <li
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8365"
                    >
                      <a
                        href="https://playroom.qodeinteractive.com/events/month/"
                      >
                        <span class="qodef-menu-item-text">Event Month</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-231 qodef-menu-item--narrow"
        >
          <a href="#"><span class="qodef-menu-item-text">Blog</span></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-698"
                >
                  <a href="https://playroom.qodeinteractive.com/right-sidebar/">
                    <span class="qodef-menu-item-text">Right Sidebar</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-250 qodef-menu-item--narrow"
        >
          <a href="#"><span class="qodef-menu-item-text">Shop</span></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349"
                >
                  <a href="https://playroom.qodeinteractive.com/shop/">
                    <span class="qodef-menu-item-text">Product List</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170"
        >
          <a href="https://playroom.qodeinteractive.com/landing/">
            <span class="qodef-menu-item-text">Landing</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
