<div id="qodef-page-outer">
    <div
      class="qodef-page-title qodef-m qodef-title--standard-with-breadcrumbs qodef-alignment--left qodef-vertical-alignment--header-bottom"
    >
      <div class="qodef-m-inner">
        <div class="qodef-m-content qodef-content-grid">
          <h4 class="qodef-m-title entry-title">
            My Account
          </h4>
          <div itemprop="breadcrumb" class="qodef-breadcrumbs">
            <a
              itemprop="url"
              class="qodef-breadcrumbs-link"
              href="https://playroom.qodeinteractive.com/"
            >
              <span itemprop="title">Home</span>
            </a>
            <span class="qodef-breadcrumbs-separator"></span>
            <span itemprop="title" class="qodef-breadcrumbs-current">
              My Account
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="qodef-page-inner" class="qodef-content-grid">
      <main
        id="qodef-page-content"
        class="qodef-grid qodef-layout--template qodef-gutter--large"
      >
        <div class="qodef-grid-inner clear">
          <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
            <div
              data-elementor-type="wp-page"
              data-elementor-id="913"
              class="elementor elementor-913"
              data-elementor-settings="[]"
            >
              <div class="elementor-inner">
                <div class="elementor-section-wrap">
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-4c64dd4c elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no"
                    data-id="4c64dd4c"
                    data-element_type="section"
                  >
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e1fc2e3"
                          data-id="e1fc2e3"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6768d80d elementor-widget elementor-widget-text-editor"
                                data-id="6768d80d"
                                data-element_type="widget"
                                data-widget_type="text-editor.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="elementor-text-editor elementor-clearfix"
                                  >
                                    <div class="woocommerce">
                                      <div
                                        class="woocommerce-notices-wrapper"
                                      ></div>
                                      <h2>Add Child</h2>
                                      <form
                                        [formGroup]="registerForm"
                                        enctype="multipart/form-data"
                                        (submit)="onRegisterSubmit()"
                                        class="woocommerce-form woocommerce-form-login login"
                                      >
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="fullName">
                                            Full Name&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="text"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="full_name"
                                            placeholder="Full Name"
                                            value=""
                                          />
                                        </p>
                                        <div
                                          *ngIf="submitted && f.full_name.errors"
                                          class="invalid-feedback"
                                        >
                                          <div
                                            *ngIf="f.full_name.errors.required"
                                          >
                                            Last Name is required
                                          </div>
                                        </div>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="fullName">
                                            Birthday&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="date"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="birthday"
                                            placeholder="Full Name"
                                            value=""
                                          />
                                        </p>
                                        <div
                                          *ngIf="submitted && f.birthday.errors"
                                          class="invalid-feedback"
                                        >
                                          <div *ngIf="f.birthday.errors.required">
                                            Last Name is required
                                          </div>
                                        </div>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="fullName">
                                            Gender&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <select
                                            id="gender"
                                            formControlName="gender"
                                            class="select form-control woocommerce-Input woocommerce-Input--text input-text"
                                          >
                                            <option disabled>
                                              Select Country
                                            </option>
                                            <option value="Male" selected>
                                              Male
                                            </option>
                                            <option value="Female">Female</option>
                                          </select>
                                        </p>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="username">
                                            Email&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="text"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="email"
                                            value=""
                                          />
                                        </p>
                                        <div
                                          *ngIf="submitted && f.email.errors"
                                          class="invalid-feedback"
                                        >
                                          <div *ngIf="f.email.errors.required">
                                            Email is required
                                          </div>
                                          <div *ngIf="f.email.errors.email">
                                            Email is not valid
                                          </div>
                                          <div *ngIf="f.email.errors.emailExist">
                                            Email is already registered
                                          </div>
                                        </div>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="username">
                                            Username&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="text"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="username"
                                            value=""
                                          />
                                        </p>
                                        <div
                                          *ngIf="submitted && f.username.errors"
                                          class="invalid-feedback"
                                        >
                                          <div *ngIf="f.username.errors.required">
                                            Username is required
                                          </div>
                                          <div *ngIf="f.username.errors.email">
                                              Username is not valid
                                          </div>
                                          <div *ngIf="f.username.errors.usernameExist">
                                              Username is already registered
                                          </div>
                                        </div>
                                        <p
                                        class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" 
                                      >
                                        <label for="fullName">
                                          City&nbsp;
                                          <span class="required">*</span>
                                        </label>
                                        <input
                                          type="text"
                                          class="woocommerce-Input woocommerce-Input--text input-text"
                                          formControlName="city"
                                          placeholder="City"
                                          [(value)]="user?.address.city"
                                        />
                                      </p>
                                      <p
                                        class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" 
                                      >
                                        <label for="fullName">
                                          Zip code/Postal&nbsp;
                                          <span class="required">*</span>
                                        </label>
                                        <input
                                          type="text"
                                          class="woocommerce-Input woocommerce-Input--text input-text"
                                          formControlName="codePostal"
                                          placeholder=""
                                          [(value)]="user?.address.postalCode"
                                        />
                                      </p>
                                      <p
                                        class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide" 
                                      >
                                        <label for="fullName">
                                          address&nbsp;
                                          <span class="required">*</span>
                                        </label>
                                        <input
                                          type="text"
                                          class="woocommerce-Input woocommerce-Input--text input-text"
                                          formControlName="address"
                                          [(value)]="user?.address.street"
                                        />
                                      </p>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="password">
                                            Password&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            type="password"
                                            formControlName="password"
                                            autocomplete="current-password"
                                          />
                                        </p>
                                        <div
                                          *ngIf="submitted && f.password.errors"
                                          class="invalid-feedback"
                                        >
                                          <div *ngIf="f.password.errors.required">
                                            Password is required
                                          </div>
                                        </div>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="password">
                                            Confirm-password&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="password"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="confirmPassword"
                                            autocomplete="current-password"
                                          />
                                        </p>
                                        <div
                                          *ngIf="
                                            submitted && f.confirmPassword.errors
                                          "
                                          class="invalid-feedback"
                                        >
                                          <div
                                            *ngIf="
                                              f.confirmPassword.errors.required
                                            "
                                          >
                                            Confirm password is required
                                          </div>
                                          <div
                                            *ngIf="
                                              f.confirmPassword.errors.mustMatch
                                            "
                                          >
                                            Confirm password not mutch
                                          </div>
                                        </div>
                                        <p
                                          class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
                                        >
                                          <label for="password">
                                            Time spend in website by minutes&nbsp;
                                            <span class="required">*</span>
                                          </label>
                                          <input
                                            type="number"
                                            class="woocommerce-Input woocommerce-Input--text input-text"
                                            formControlName="ConnectDuration"
                                            autocomplete="current-password"
                                          />
                                        </p>
                                        <div
                                          *ngIf="
                                            submitted && f.confirmPassword.errors
                                          "
                                          class="invalid-feedback"
                                        >
                                          <div
                                            *ngIf="
                                              f.ConnectDuration.errors.required
                                            "
                                          >
                                            Time is required
                                          </div>
                                        </div>
                                        <div class="form-group" >
                                          <div class="form-check form-check-inline" >
                                            <input class="form-check-input" type="text"  value="6078627b6ba03307fc19b95f" formControlName="idRole" [ngClass]="{ 'is-invalid': submitted && f.idRole.errors }">
                                            <label class="form-check-label" for="inlineRadio1">Child</label>
                                          </div>
                                          <div *ngIf="submitted && f.idRole.errors" class="invalid-feedback">
                                            <div *ngIf="f.idRole.errors.required">Role is required</div>
                                          </div>
                                        </div>
                                        <p class="form-row">
                                          <button
                                            type="submit"
                                            class="woocommerce-button button woocommerce-form-login__submit"
                                            name="login"
                                            value="Log in"
                                          >
                                            Register
                                          </button>
                                        </p>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div id="qodef-page-content-bottom" style="background: #faf7ef;">
    <div id="qodef-page-content-bottom-inner" class="qodef-content-full-width">
      <div class="widget widget_playroom_core_button" data-area="content-bottom">
        <a
          class="qodef-shortcode qodef-m qodef-button qodef-layout--textual qodef-html--link"
          href="https://playroom.qodeinteractive.com/events/month/"
          target="_self"
          style="font-size: 15px;"
        >
          <span class="qodef-m-text">Find events</span>
          <span class="qodef-m-icon">
            <span class="qodef-icon-font-awesome fas fa-angle-right"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <a id="qodef-back-to-top" href="#">
    <span class="qodef-back-to-top-icon">
      <svg
        class="qodef-back-to-top-svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="103.25px"
        height="72.125px"
        viewBox="0 0 103.25 72.125"
        enable-background="new 0 0 103.25 72.125"
        xml:space="preserve"
      >
        <g>
          <polygon
            fill="#FFFFFF"
            points="56.486,28.886 61.611,24.741 64.045,34.75 	"
          />
          <path
            fill="#FFFFFF"
            d="M18.617,2.628c0,0-28.809,4.953-13.674,22.856c15.14,17.9,36.5,3.168,44.676,4.683c14.893,2.752,20.186-14.302,16.117-18.453C60.607,6.48,57.92-3.158,18.617,2.628z"
          />
        </g>
        <g class="upper-right-leg">
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="81.332"
            y1="44.458"
            x2="92.63"
            y2="36.823"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="92.676"
            y1="37.545"
            x2="87.746"
            y2="28.043"
          />
          <ellipse
            transform="matrix(0.5555 0.8315 -0.8315 0.5555 61.7243 -61.8084)"
            fill="#161616"
            cx="88.676"
            cy="26.831"
            rx="1.089"
            ry="2.064"
          />
        </g>
        <g class="upper-left-leg">
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="67.115"
            y1="46.672"
            x2="56.589"
            y2="38.005"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="55.919"
            y1="38.354"
            x2="60.375"
            y2="28.622"
          />
          <ellipse
            transform="matrix(0.5982 -0.8013 0.8013 0.5982 2.0942 58.7666)"
            fill="#161616"
            cx="59.649"
            cy="27.295"
            rx="1.089"
            ry="2.063"
          />
        </g>
        <g class="bottom-legs">
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="63.542"
            y1="50.811"
            x2="52.618"
            y2="58.971"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="52.629"
            y1="58.238"
            x2="57.322"
            y2="67.857"
          />
          <ellipse
            transform="matrix(-0.7389 -0.6739 0.6739 -0.7389 52.2275 158.9084)"
            fill="#161616"
            cx="56.904"
            cy="69.334"
            rx="1.089"
            ry="2.064"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="63.768"
            y1="49.895"
            x2="50.169"
            y2="50.893"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="50.571"
            y1="50.281"
            x2="49.35"
            y2="60.915"
          />
          <ellipse
            transform="matrix(-0.0569 -0.9984 0.9984 -0.0569 -10.6124 113.3027)"
            fill="#161616"
            cx="48.207"
            cy="61.664"
            rx="1.089"
            ry="2.064"
          />
        </g>
        <g class="bottom-legs alter">
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="85.826"
            y1="51.083"
            x2="96.75"
            y2="59.243"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="96.74"
            y1="58.51"
            x2="92.047"
            y2="68.13"
          />
          <ellipse
            transform="matrix(-0.7393 0.6734 -0.6734 -0.7393 207.7037 58.7902)"
            fill="#161616"
            cx="92.471"
            cy="69.603"
            rx="1.089"
            ry="2.065"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="85.668"
            y1="48.434"
            x2="99.145"
            y2="50.51"
          />
          <line
            fill="none"
            stroke="#161616"
            stroke-miterlimit="10"
            x1="98.791"
            y1="49.868"
            x2="99.163"
            y2="60.564"
          />
          <ellipse
            transform="matrix(0.0171 0.9999 -0.9999 0.0171 159.6318 -40.6706)"
            fill="#161616"
            cx="100.501"
            cy="60.854"
            rx="1.088"
            ry="2.064"
          />
        </g>
        <g>
          <ellipse fill="#161616" cx="74.361" cy="38.629" rx="8.779" ry="7.825" />
          <ellipse
            fill="#161616"
            cx="74.363"
            cy="49.518"
            rx="12.453"
            ry="11.102"
          />
          <polygon
            fill="#FFFFFF"
            points="70.273,43.223 72.104,43.452 70.781,46.585 	"
          />
          <polygon
            fill="#FFFFFF"
            points="77.852,41.914 79.282,40.859 80.436,43.927 	"
          />
          <path
            fill="none"
            stroke="#EA703E"
            stroke-width="0.75"
            stroke-miterlimit="10"
            d="M69.439,42.684c0,0,3.414,2.041,6.533,0.444c3.118-1.597,4.344-3.601,4.418-4.158"
          />
          <ellipse
            transform="matrix(-0.1053 -0.9944 0.9944 -0.1053 51.524 117.9213)"
            fill="#FFFFFF"
            stroke="#EA703E"
            stroke-width="0.75"
            stroke-miterlimit="10"
            cx="78.809"
            cy="35.783"
            rx="2.856"
            ry="3.187"
          />
          <ellipse
            transform="matrix(-0.5517 -0.834 0.834 -0.5517 76.9059 115.233)"
            fill="#FFFFFF"
            stroke="#EA703E"
            stroke-width="0.75"
            stroke-miterlimit="10"
            cx="69.422"
            cy="36.948"
            rx="3.048"
            ry="3.779"
          />
          <ellipse
            transform="matrix(-0.1055 -0.9944 0.9944 -0.1055 51.9875 118.1499)"
            fill="#2E2A2C"
            cx="79.134"
            cy="35.693"
            rx="0.861"
            ry="0.875"
          />
          <ellipse
            transform="matrix(-0.1056 -0.9944 0.9944 -0.1056 39.6994 109.6864)"
            fill="#2E2A2C"
            cx="69.179"
            cy="36.989"
            rx="0.86"
            ry="0.875"
          />
        </g>
      </svg>
    </span>
    <span class="qodef-back-to-top-text">
      Back To Top
    </span>
  </a>
  <div id="qodef-side-area">
    <a
      href="javascript:void(0)"
      id="qodef-side-area-close"
      class="qodef-opener-icon qodef-m qodef-source--predefined"
    >
      <span class="qodef-m-icon qodef--open">
        <span class="qodef-m-dots">
          <span class="qodef-m-dot qodef--1"></span>
          <span class="qodef-m-dot qodef--2"></span>
          <span class="qodef-m-dot qodef--3"></span>
        </span>
      </span>
    </a>
    <div id="qodef-side-area-inner">
      <div
        id="playroom_core_instagram_list-2"
        class="widget widget_playroom_core_instagram_list"
        data-area="side-area"
      >
        <div
          class="qodef-shortcode qodef-m qodef-instagram-list qodef-layout--columns qodef--no-bottom-space qodef-gutter--tiny qodef-col-num--3"
        >
          <div
            id="sb_instagram"
            class="sbi sbi_col_3 sbi_width_resp"
            style="width: 100%;"
            data-feedid="sbi_playroomtheme#6"
            data-res="thumb"
            data-cols="3"
            data-num="6"
            data-shortcode-atts='{"0":"6","1":"3","2":"0","3":"px","4":"thumb","num":"6","cols":"3","imagepadding":"0","imagepaddingunit":"px","showheader":"","showfollow":"","showbutton":"","imageres":"thumb"}'
          >
            <div id="sbi_images">
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_17855495822417215"
                data-date="1610559287"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CJ_mSyfrd_j/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/138701605_843017616550745_8136269938527038134_n.jpg?_nc_cat=111&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=BO162ZiVGFkAX8wH3K-&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=5f72d2c4d72bc1a5f4504eb03b2bf958&#038;oe=60702325"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/138701605_843017616550745_8136269938527038134_n.jpg?_nc_cat=111&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=BO162ZiVGFkAX8wH3K-&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=5f72d2c4d72bc1a5f4504eb03b2bf958&amp;oe=60702325","150":"https:\/\/www.instagram.com\/p\/CJ_mSyfrd_j\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/138701605_843017616550745_8136269938527038134_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/138701605_843017616550745_8136269938527038134_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 17855495822417215
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 17855495822417215"
                    />
                  </a>
                </div>
              </div>
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_17873458931177553"
                data-date="1610559229"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CJ_mLuyLpBW/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/139006330_450530256319202_6002836699632981175_n.jpg?_nc_cat=109&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=6TCVd6uf5a8AX_h2sKs&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=5fd4680259db2f34541c0256d2b482fc&#038;oe=606E04EF"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/139006330_450530256319202_6002836699632981175_n.jpg?_nc_cat=109&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=6TCVd6uf5a8AX_h2sKs&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=5fd4680259db2f34541c0256d2b482fc&amp;oe=606E04EF","150":"https:\/\/www.instagram.com\/p\/CJ_mLuyLpBW\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/139006330_450530256319202_6002836699632981175_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/139006330_450530256319202_6002836699632981175_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 17873458931177553
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 17873458931177553"
                    />
                  </a>
                </div>
              </div>
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_17861689315943340"
                data-date="1592469796"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CBkfU6lJ3BK/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/103727467_145119357157663_4009277130480551186_n.jpg?_nc_cat=109&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=Syn_PPPcP_IAX9z7Rin&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=5fd0fc6fc51c55f55550a655a6f86103&#038;oe=60703F77"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/103727467_145119357157663_4009277130480551186_n.jpg?_nc_cat=109&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Syn_PPPcP_IAX9z7Rin&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=5fd0fc6fc51c55f55550a655a6f86103&amp;oe=60703F77","150":"https:\/\/www.instagram.com\/p\/CBkfU6lJ3BK\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103727467_145119357157663_4009277130480551186_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103727467_145119357157663_4009277130480551186_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 17861689315943340
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 17861689315943340"
                    />
                  </a>
                </div>
              </div>
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_18059160583225194"
                data-date="1592469761"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CBkfQpTp1wJ/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/79985000_563714430865505_7788986684884977463_n.jpg?_nc_cat=106&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=Z3V7-fvwY_QAX_LuqUA&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=88d0191c79540aac43c1e47d17f73b16&#038;oe=60704A8D"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/79985000_563714430865505_7788986684884977463_n.jpg?_nc_cat=106&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Z3V7-fvwY_QAX_LuqUA&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=88d0191c79540aac43c1e47d17f73b16&amp;oe=60704A8D","150":"https:\/\/www.instagram.com\/p\/CBkfQpTp1wJ\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/79985000_563714430865505_7788986684884977463_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/79985000_563714430865505_7788986684884977463_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 18059160583225194
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 18059160583225194"
                    />
                  </a>
                </div>
              </div>
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_17856601760027910"
                data-date="1592469734"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CBkfNbBpRHU/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/103656314_2782297708559580_2749664141753128346_n.jpg?_nc_cat=108&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=m-LMuIXTxoAAX8Doiaj&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=06e2ea43f91835f4b4f6616798db34a6&#038;oe=606E84C3"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/103656314_2782297708559580_2749664141753128346_n.jpg?_nc_cat=108&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=m-LMuIXTxoAAX8Doiaj&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=06e2ea43f91835f4b4f6616798db34a6&amp;oe=606E84C3","150":"https:\/\/www.instagram.com\/p\/CBkfNbBpRHU\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103656314_2782297708559580_2749664141753128346_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103656314_2782297708559580_2749664141753128346_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 17856601760027910
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 17856601760027910"
                    />
                  </a>
                </div>
              </div>
              <div
                class="sbi_item sbi_type_image sbi_new sbi_transition"
                id="sbi_18059537110236290"
                data-date="1592469654"
              >
                <div class="sbi_photo_wrap">
                  <a
                    class="sbi_photo"
                    href="https://www.instagram.com/p/CBkfDrUJ8A_/"
                    target="_blank"
                    rel="noopener nofollow"
                    data-full-res="https://scontent-den4-1.cdninstagram.com/v/t51.29350-15/103981229_255044422423476_8733748456638708509_n.jpg?_nc_cat=105&#038;ccb=1-3&#038;_nc_sid=8ae9d6&#038;_nc_ohc=HeYAQZ6NAKUAX8kpAnK&#038;_nc_ht=scontent-den4-1.cdninstagram.com&#038;oh=c59445ff38f9c82030c2ccd0e3101323&#038;oe=606F6F88"
                    data-img-src-set='{"d":"https:\/\/scontent-den4-1.cdninstagram.com\/v\/t51.29350-15\/103981229_255044422423476_8733748456638708509_n.jpg?_nc_cat=105&amp;ccb=1-3&amp;_nc_sid=8ae9d6&amp;_nc_ohc=HeYAQZ6NAKUAX8kpAnK&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=c59445ff38f9c82030c2ccd0e3101323&amp;oe=606F6F88","150":"https:\/\/www.instagram.com\/p\/CBkfDrUJ8A_\/media\/?size=t","320":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103981229_255044422423476_8733748456638708509_nlow.jpg","640":"https:\/\/playroom.qodeinteractive.com\/wp-content\/uploads\/sb-instagram-feed-images\/103981229_255044422423476_8733748456638708509_nfull.jpg"}'
                  >
                    <span class="sbi-screenreader">
                      Instagram post 18059537110236290
                    </span>
                    <img
                      src="https://playroom.qodeinteractive.com/wp-content/plugins/instagram-feed/img/placeholder.png"
                      alt="Instagram post 18059537110236290"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div id="sbi_load"></div>
            <span
              class="sbi_resized_image_data"
              data-feed-id="sbi_playroomtheme#6"
              data-resized='{"17861689315943340":{"id":"103727467_145119357157663_4009277130480551186_n","ratio":"1.00","sizes":{"full":640,"low":320}},"18059160583225194":{"id":"79985000_563714430865505_7788986684884977463_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17856601760027910":{"id":"103656314_2782297708559580_2749664141753128346_n","ratio":"1.00","sizes":{"full":640,"low":320}},"18059537110236290":{"id":"103981229_255044422423476_8733748456638708509_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17873458931177553":{"id":"139006330_450530256319202_6002836699632981175_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17855495822417215":{"id":"138701605_843017616550745_8136269938527038134_n","ratio":"1.00","sizes":{"full":640,"low":320}}}'
            ></span>
          </div>
        </div>
      </div>
      <div id="text-5" class="widget widget_text" data-area="side-area">
        <h3 class="qodef-widget-title">First Birthday Party</h3>
        <div class="textwidget">
          <p>
            Lorem ipsum dolor sit amet, cu dicant admodum vim. Id dicam evertitur
            pri, duis commodo ornatus eos no.
          </p>
        </div>
      </div>
      <div
        id="playroom_core_button-2"
        class="widget widget_playroom_core_button"
        data-area="side-area"
      >
        <a
          class="qodef-shortcode qodef-m qodef-button qodef-layout--filled qodef-html--link"
          href="https://playroom.qodeinteractive.com/book-a-party/"
          target="_self"
          style="margin: -7px 0px 0px 0px;"
        >
          <span class="qodef-m-text">Book now</span>
        </a>
      </div>
    </div>
  </div>
  <div
    class="rbt-toolbar"
    data-theme="Playroom"
    data-featured=""
    data-button-position="30%"
    data-button-horizontal="right"
    data-button-alt="no"
  ></div>
  