<section
  class="elementor-section elementor-top-section elementor-element elementor-element-82dfe75 qodef-elementor-content-grid elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="82dfe75"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-53c84cf"
        data-id="53c84cf"
        data-element_type="column"
      >
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-993ea77 elementor-widget elementor-widget-playroom_core_section_title"
              data-id="993ea77"
              data-element_type="widget"
              data-widget_type="playroom_core_section_title.default"
            >
              <div class="elementor-widget-container">
                <div
                  class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center"
                >
                  <!--span class="qodef-m-tagline" style="margin-bottom: 12px;">
                    Search
                  </span-->
                  <h2 class="qodef-m-title">
                    <!--span
                      class="qodef-m-title--third-color"
                      style="color: #8dc8ae;"
                    >
                    Search
                    </span-->
                    <span
                      class="qodef-m-title--second-color"
                      style="color: #444444;"
                    >
                      Search
                    </span>
                    <!--span
                      class="qodef-m-title--second-color"
                      style="color: #444444;"
                    >
                      &amp;
                    </span>
                    Search-->
                  </h2>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-dc1e914 elementor-widget elementor-widget-playroom_core_event_list"
              data-id="dc1e914"
              data-element_type="widget"
              data-widget_type="playroom_core_event_list.default"
            >
              <div class="elementor-widget-container">
                <div
                  class="qodef-shortcode qodef-m qodef-event-list-shortcode qodef-event-list qodef-grid qodef-layout--columns qodef-gutter--medium qodef-col-num--4 qodef-filter--on qodef--no-bottom-space qodef-pagination--off qodef-responsive--custom qodef-col-num--1440--4 qodef-col-num--1366--4 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1"
                >
                  <div class="qodef-m-filter">
                    <div class="qodef-m-filter-items">
                      <a
                        [class.qodef--active]="selectedSearch === 0"
                        class="qodef-m-filter-item qodef--active"
                        href="#"
                        data-taxonomy="tribe_events_cat"
                        data-filter="*"
                      >
                        <img
                          width="66"
                          height="66"
                          src="assets/wp-content/uploads/2020/08/h1-eventcategory-img-5.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="aa"
                          loading="lazy"
                        />
                        <span class="qodef-m-filter-item-name">
                          All
                        </span>
                      </a>
                      <a
                        [class.qodef--active]="selectedSearch === 1"
                        class="qodef-m-filter-item"
                        href="#"
                        data-taxonomy="tribe_events_cat"
                        data-filter="outdoor"
                      >
                        <img
                          width="60"
                          height="60"
                          src="assets/wp-content/uploads/2020/08/h1-eventcategory-img-1.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="aa"
                          loading="lazy"
                        />
                        <span class="qodef-m-filter-item-name">
                          Livre
                        </span>
                      </a>
                      <a
                        [class.qodef--active]="selectedSearch === 2"
                        class="qodef-m-filter-item"
                        href="#"
                        data-taxonomy="tribe_events_cat"
                        data-filter="party"
                      >
                        <img
                          width="64"
                          height="64"
                          src="assets/wp-content/uploads/2020/08/h1-eventcategory-img-3.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="aa"
                          loading="lazy"
                        />
                        <span class="qodef-m-filter-item-name">
                          Challenge
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="qodef-grid-inner clear">
                    <ng-container
                      *ngIf="selectedSearch === 0 || selectedSearch === 1"
                    >
                      <div
                        *ngFor="let livre of list_livre"
                        class="qodef-e qodef-grid-item qodef-item--custom post-7233 tribe_events type-tribe_events status-publish has-post-thumbnail hentry tribe_events_cat-outdoor cat_outdoor"
                      >
                        <div class="qodef-e-inner">
                          <div class="qodef-event-list-content qodef-e-content">
                            <span class="qodef-event-list-date">
                              {{ livre.createdAt }}
                            </span>
                            <h3
                              itemprop="name"
                              class="qodef-event-list-title entry-title"
                            >
                              <a
                                itemprop="url"
                                class="qodef-event-list-title-link"
                                [routerLink]="['/book/',livre?.id]"
                              >
                                {{ livre.title }}
                              </a>
                            </h3>
                            <div class="qodef-info--bottom">
                              <span class="qodef-event-list-time">
                                {{ livre.auteur }}
                              </span>
                              <div class="qodef-e-info-right">
                                <div
                                  class="qodef-e-info-item qodef-e-info-category"
                                >
                                  <a
                                    href="../events/category/toddlers/index.html"
                                    rel="tag"
                                  >
                                    {{ livre.language }}
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="selectedSearch === 0 || selectedSearch === 2"
                    >
                      <div
                        *ngFor="let challenge of list_challenge"
                        class="qodef-e qodef-grid-item qodef-item--custom post-7233 tribe_events type-tribe_events status-publish has-post-thumbnail hentry tribe_events_cat-party cat_party"
                      >
                        <div class="qodef-e-inner">
                          <div class="qodef-event-list-content qodef-e-content">
                            <span class="qodef-event-list-date">
                              Date de lancement: {{ challenge.createdAt }}
                            </span>
                            <h3
                              itemprop="name"
                              class="qodef-event-list-title entry-title"
                            >
                              <a
                                itemprop="url"
                                class="qodef-event-list-title-link"
                                [routerLink]="['/challenge/',challenge?.id]"
                              >
                                {{ challenge.title }}
                              </a>
                            </h3>
                            <div class="qodef-info--bottom">
                              <span class="qodef-event-list-time">
                                Date d'expiration: {{ challenge.datefin }}
                              </span>
                              <div class="qodef-e-info-right">
                                <div
                                  class="qodef-e-info-item qodef-e-info-category"
                                >
                                  <a
                                    href="../events/category/toddlers/index.html"
                                    rel="tag"
                                  >
                                    {{ challenge.language }}
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
