<footer id="qodef-page-footer">
  <div id="qodef-page-footer-top-area">
    <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid">
      <div
        class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--4 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1"
      >
        <div class="qodef-grid-inner clear">
          <div class="qodef-grid-item">
            <div
              id="media_image-2"
              class="widget widget_media_image"
              data-area="footer_top_area_column_1"
            >
              <a href="../index.html">
                <img
                  width="105"
                  height="82"
                  src="assets/img/logo.png"
                  class="image wp-image-6715 attachment-full size-full"
                  alt="aa"
                  loading="lazy"
                  style="max-width: 100%; height: auto;"
                />
              </a>
            </div>
            <!-- <div
              id="playroom_core_custom_font-7"
              class="widget widget_playroom_core_custom_font"
              data-area="footer_top_area_column_1"
            >
              <h3
                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-1 qodef-layout--simple"
                style="font-size: 34px; margin: -1px 0px -43px 0px;"
              >
                PiStory
              </h3>
            </div> -->
            <div
              id="playroom_core_separator-6"
              class="widget widget_playroom_core_separator"
              data-area="footer_top_area_column_1"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="
                    border-color: rgba(255, 255, 255, 0);
                    margin-top: -7px;
                  "
                ></div>
              </div>
            </div>
            <div
              id="playroom_core_custom_font-6"
              class="widget widget_playroom_core_custom_font"
              data-area="footer_top_area_column_1"
            >
              <p
                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-2 qodef-layout--simple"
                style="margin: 10px 10px -24px 0px;"
              >
                PiStory technology for Kids !!
              </p>
            </div>
            <div
              id="playroom_core_social_icons_group-2"
              class="widget widget_playroom_core_social_icons_group"
              data-area="footer_top_area_column_1"
            >
              <div class="qodef-social-icons-group">
                <span
                  class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--circle"
                  style="margin: 12px 9px 3px 1px; background-color: #ffffff;"
                >
                  <a
                    itemprop="url"
                    href="https://www.instagram.com/pil.and"
                    target="_blank"
                  >
                    <span
                      class="qodef-icon-font-awesome fab fa-instagram qodef-icon qodef-e"
                      style="color: #f06633;"
                    ></span>
                  </a>
                </span>
                <span
                  class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--circle"
                  style="margin: 12px 9px 3px 0px; background-color: #ffffff;"
                >
                  <a
                    itemprop="url"
                    href="https://www.facebook.com/Piland-267949197424334"
                    target="_blank"
                  >
                    <span
                      class="qodef-icon-font-awesome fab fa-facebook-f qodef-icon qodef-e"
                      style="color: #f06633;"
                    ></span>
                  </a>
                </span>
                <!-- <span
                  class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--circle"
                  style="margin: 12px 9px 3px 0px; background-color: #ffffff;"
                >
                  <a
                    itemprop="url"
                    href="https://twitter.com/QodeInteractive"
                    target="_blank"
                  >
                    <span
                      class="qodef-icon-font-awesome fab fa-twitter qodef-icon qodef-e"
                      style="color: #f06633;"
                    ></span>
                  </a>
                </span> -->
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="playroom_core_separator-2"
              class="widget widget_playroom_core_separator"
              data-area="footer_top_area_column_2"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="
                    border-color: rgba(255, 255, 255, 0);
                    margin-bottom: 41px;
                  "
                ></div>
              </div>
            </div>
            <div
              id="playroom_core_custom_font-8"
              class="widget widget_playroom_core_custom_font"
              data-area="footer_top_area_column_2"
              style="opacity: 0;"
            >
              <h4
                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-3 qodef-layout--simple"
                style="margin: 0px 0px -15px 0px;"
              >
                Press / News
              </h4>
            </div>
            <div
              id="playroom_core_blog_list-3"
              class="widget widget_playroom_core_blog_list"
              data-area="footer_top_area_column_2"
              style="opacity: 0;"
            >
              <div
                class="qodef-shortcode qodef-m qodef-blog qodef-item-layout--minimal qodef-grid qodef-layout--columns qodef-gutter--tiny qodef-col-num--1 qodef-item-layout--minimal qodef-filter--on qodef--no-bottom-space qodef-pagination--off qodef-responsive--predefined"
                data-options='{"plugin":"playroom_core","module":"blog\/shortcodes","shortcode":"blog-list","post_type":"post","next_page":"2","max_pages_num":1,"behavior":"columns","images_proportion":"full","columns":"1","columns_responsive":"predefined","columns_1440":"3","columns_1366":"3","columns_1024":"3","columns_768":"3","columns_680":"3","columns_480":"3","space":"tiny","posts_per_page":"2","orderby":"date","order":"DESC","additional_params":"tax","tax":"category","tax_slug":"art","layout":"minimal","title_tag":"h6","display_social_share":"no","enable_filter":"no","filter_all_label":"Show All","pagination_type":"no-pagination","object_class_name":"PlayroomCoreBlogListShortcode","taxonomy_filter":"category","additional_query_args":{"tax_query":[{"taxonomy":"category","field":"slug","terms":"art"}]},"space_value":5}'
              >
                <div class="qodef-grid-inner clear">
                  <article
                    class="qodef-e qodef-blog-item qodef-grid-item qodef-item--full post-664 post type-post status-publish format-quote has-post-thumbnail hentry category-art category-education category-parents tag-art tag-ideas tag-kids-ideas post_format-post-format-quote"
                  >
                    <div class="qodef-e-inner">
                      <div class="qodef-e-info qodef-info--top">
                        <div
                          itemprop="dateCreated"
                          class="qodef-e-info-item qodef-e-info-date entry-date published updated"
                        >
                          <a itemprop="url" href="../2020/05/index.html">
                            May 27, 2020
                          </a>
                          <meta
                            itemprop="interactionCount"
                            content="UserComments: 2"
                          />
                        </div>
                      </div>
                      <h6 itemprop="name" class="qodef-e-title entry-title">
                        <a
                          itemprop="url"
                          class="qodef-e-title-link"
                          href="../free-to-express-themselves/index.html"
                        >
                          Free to Express Themselves
                        </a>
                      </h6>
                    </div>
                  </article>
                  <article
                    class="qodef-e qodef-blog-item qodef-grid-item qodef-item--full post-643 post type-post status-publish format-link has-post-thumbnail hentry category-art category-education category-parents tag-ideas tag-kids-ideas post_format-post-format-link"
                  >
                    <div class="qodef-e-inner">
                      <div class="qodef-e-info qodef-info--top">
                        <div
                          itemprop="dateCreated"
                          class="qodef-e-info-item qodef-e-info-date entry-date published updated"
                        >
                          <a itemprop="url" href="../2020/05/index.html">
                            May 27, 2020
                          </a>
                          <meta
                            itemprop="interactionCount"
                            content="UserComments: 2"
                          />
                        </div>
                      </div>
                      <h6 itemprop="name" class="qodef-e-title entry-title">
                        <a
                          itemprop="url"
                          class="qodef-e-title-link"
                          href="../it-was-never-easier-to-have-fun/index.html"
                        >
                          It Was Never Easier to Have Fun
                        </a>
                      </h6>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="playroom_core_separator-3"
              class="widget widget_playroom_core_separator"
              data-area="footer_top_area_column_3"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="
                    border-color: rgba(255, 255, 255, 0);
                    margin-bottom: 41px;
                  "
                ></div>
              </div>
            </div>
            <div
              id="playroom_core_custom_font-2"
              class="widget widget_playroom_core_custom_font"
              data-area="footer_top_area_column_3"
              style="opacity: 0;"
            >
              <h4
                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-4 qodef-layout--simple"
                style="margin: 0px 0px -20px 0px;"
              >
                Information
              </h4>
            </div>
            <div
              id="playroom_core_icon_list_item-6"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_3"
              style="opacity: 0;"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -2px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="../rules-of-play/index.html"
                    target="_self"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--tiny qodef-layout--normal"
                      >
                        <span
                          class="qodef-icon-font-awesome fa fa-circle qodef-icon qodef-e"
                          style="color: #f37647; font-size: 5px;"
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">
                        Party venue center play rules
                      </span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div
              id="playroom_core_icon_list_item-7"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_3"
              style="opacity: 0;"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -2px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="../events/list/index.html"
                    target="_self"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                      >
                        <span
                          class="qodef-icon-font-awesome fa fa-circle qodef-icon qodef-e"
                          style="color: #f37647; font-size: 5px;"
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">
                        Make your party reservation
                      </span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div
              id="playroom_core_icon_list_item-8"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_3"
              style="opacity: 0;"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -2px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="../contact-us/index.html"
                    target="_self"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                      >
                        <span
                          class="qodef-icon-font-awesome fa fa-circle qodef-icon qodef-e"
                          style="color: #f37647; font-size: 5px;"
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">Our premises</span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div
              id="playroom_core_icon_list_item-9"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_3"
              style="opacity: 0;"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -5px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="../book-a-party/index.html"
                    target="_self"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--normal"
                      >
                        <span
                          class="qodef-icon-font-awesome fa fa-circle qodef-icon qodef-e"
                          style="color: #f37647; font-size: 5px;"
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">Working hours</span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="playroom_core_separator-4"
              class="widget widget_playroom_core_separator"
              data-area="footer_top_area_column_4"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="
                    border-color: rgba(255, 255, 255, 0);
                    margin-bottom: 41px;
                  "
                ></div>
              </div>
            </div>
            <div
              id="playroom_core_custom_font-5"
              class="widget widget_playroom_core_custom_font"
              data-area="footer_top_area_column_4"
            >
              <h4
                class="qodef-shortcode qodef-m qodef-custom-font qodef-custom-font-5 qodef-layout--simple"
                style="margin: 0px 0px -20px 0px;"
              >
                Contacts
              </h4>
            </div>
            <div
              id="playroom_core_icon_list_item-5"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_4"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -2px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="https://goo.gl/maps/Scv9s18kiWPsZTfG8"
                    target="_blank"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--blob"
                      >
                        <span
                          class="qodef-icon-elegant-icons icon_house_alt qodef-icon qodef-e"
                          style=""
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">
                        Technopark Elgazala,B11 innovation center 2088 Ariana, Tunisie
                      </span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div
              id="playroom_core_icon_list_item-10"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_4"
            >
              <div
                class="qodef-icon-list-item qodef-icon--icon-pack"
                style="margin-bottom: -2px;"
              >
                <p class="qodef-e-title">
                  <a
                    itemprop="url"
                    href="../cdn-cgi/l/email-protection.html#93e3fff2eae1fcfcfed3e2fcf7f6fafde7f6e1f2f0e7fae5f6bdf0fcfe"
                    target="_self"
                  >
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--blob"
                      >
                        <span
                          class="qodef-icon-simple-line-icons icon-envelope qodef-icon qodef-e"
                          style=""
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">
                        <span
                          class="__cf_email__"
                          data-cfemail="0e7e626f777c6161634e7f616a6b67607a6b7c6f6d7a67786b206d6163"
                        >
                          [email&#160;protected]
                        </span>
                      </span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div
              id="playroom_core_icon_list_item-11"
              class="widget widget_playroom_core_icon_list_item"
              data-area="footer_top_area_column_4"
            >
              <div class="qodef-icon-list-item qodef-icon--icon-pack">
                <p class="qodef-e-title">
                  <a itemprop="url" href="tel:+21627089043" target="_self">
                    <span class="qodef-e-title-inner">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-size--default qodef-layout--blob"
                      >
                        <span
                          class="qodef-icon-font-awesome fa fa-phone-alt qodef-icon qodef-e"
                          style=""
                        ></span>
                      </span>
                      <span class="qodef-e-title-text">
                        27 089 043
                      </span>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="qodef-page-footer-bottom-area">
    <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
      <div
        class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1"
      >
        <div class="qodef-grid-inner clear">
          <div class="qodef-grid-item">
            <div
              id="text-4"
              class="widget widget_text"
              data-area="footer_bottom_area_column_1"
            >
              <div class="textwidget">
                <p>
                  <span
                    style="
                      font-size: 16px;
                      font-family: Baloo Chettan, cursive;
                    "
                  >
                    <a
                      href="javascript:void(0)"
                      target="_blank"
                      rel="nofollow noopener noreferrer"
                      style="color: #ec6830;"
                    >
                      PiStory
                    </a>
                  </span>
                  <span style="font-size: 13px;">
                    © 2021 All Rights Reserved.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
